@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

// VARIABLES ===========================================
$purple: #cdb4db;
$cream: #ffc8dd;
$pink: #ffafcc;
$cyan: #bde0fe;
$blue: #a2d2ff;
$font: "Comfortaa", "sans-serif";
$font-family-sans-serif: $font;

$gradient: linear-gradient(90deg, rgba(255,175,204,1) 0%, rgba(205,180,219,1) 48%, rgba(162,210,255,1) 89%);


// OVERRIDES ===========================================
// Ici récuperer les variables de "_variables.scss" et les override.
@function rem-calc($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
  }
//Styles généraux du body / resets


body {
    background: white;
}

.row {
    justify-content: center
}

//Styles du texte

//Styles des composants (boutons, nav, etc..)
.btn {
    border: none !important;
    border-radius: 50%
}

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
